@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
    background-image: url(assets/9.jpg);
	background-repeat: no-repeat;
  background-size: cover ;
 font-family: 'Lato', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	
}

.container {
	overflow: hidden;
  position: relative;
  width: 400px;
  height: 550px;
background : white;
  background-repeat: no-repeat;
  background-size: cover ;
  border-radius: 25px 25px 10px 10px;
  box-shadow: 1px 1px 5px black;
    z-index: 9;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 35px;

}

.contain {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  height: 550px;
  opacity: 1;
  z-index: -1;

}

.h-con {
	 	height: 65px;
 	 top:  0;
 	background-image: radial-gradient( circle 933.4px at 0.9% -2.6%,  rgba(1,220,215,1) 0%, rgba(171,196,251,1) 47.6%, rgba(224,188,253,1) 72.8%, rgba(255,182,194,1) 100.3% );
 	width: 100%;
 	display: flex;
  	justify-content: center;
	align-items: center;

}
 h2 {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-align: center;
	color: whitesmoke;
	display: inline;
	margin: 0 auto;
	
}
.form {
	display: flex;
    flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
    margin-top: 28px;
}
 input {
 	margin:10px;
  	border-radius: 25px;
 	border: 2px;
       background: linear-gradient(120deg,
#fccb90 0%,
#d57eeb 100%);
padding: 18px 26px;
margin-top: 20px;

 }
 
 input:first-child {
 	margin-top: 18px;
 	margin-bottom: -8px;
 }
input:focus {
  
    box-shadow: 2px 1px 10px 
    black;
}
 ::placeholder {
  color: black;
  font-size: 14px;
  font-style: italic;
}
 .seprator {
 	text-align: center;
 	font-size: 45px;
 	color: #f00 ;
	margin: 25px;
	/*-webkit-animation: pulseEffect 1s linear infinite;
	-o-animation: pulseEffect 1s linear infinite;
	animation: pulseEffect 1s linear infinite;*/
 }
 .anime {
 
  color:#f00;
  margin-bottom: 5px;
  -webkit-animation: pulseEffect 1s linear infinite;
  -o-animation: pulseEffect 1s linear infinite;
  animation: pulseEffect 1s linear infinite;
      position: absolute;
    top: 23%;
    left: 39%;
 }
 @keyframes pulseEffect {
  0%{transform: scale(1.1);}
  50%{transform: scale(0.9, 0.9);}
  80%{transform: scale(1.1 , 1.1 );}
 100%{transform: scale(1.1);}
 }
 
 .res-container {
 	margin-top: 32px;
 	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .res-btn {
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		color: white;
  	width: 120px;
  	height: 45px;
  	padding: 9.5px ;
  	text-align: center;
  	margin: 0 auto;
  	margin-top: 15px;
   background-image: radial-gradient( circle farthest-corner at -0.2% 99.7%,  rgba(190,53,145,1) 0%, rgba(239,69,115,1) 100.2% );
  	border-radius: 25px;
	border:0px;
	font-weight: bold;
	cursor: pointer;

	-webkit-transition: all 2s; /* Safari prior 6.1 */
  transition: all 2s;
  }
.res-btn:hover { background-image: radial-gradient( circle 386px at 0% 62.1%,  rgba(16,224,254,1) 0%, rgba(15,19,196,1) 100.7% ); }
 .ress {
 	font-size :32px;
 }
 .res-per {
/* 	width: 100%;
 	height: 65px;
 	position: absolute;
 	bottom: 0;
 	background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);*/
 }
 #reper {
 	margin-top: 25px;
 	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	 	width: 100%;
 	height: 65px;
 	position: absolute;
 	bottom: 0;
 	background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
 	font-size: 22px;
 	color: white;
 }

 .clr-btn {
 	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: white;
  	width: 63px;
  	height: 40px;
  	padding: 9.5px ;
  	text-align: center;
  	margin: 0 auto;
   background-image:  radial-gradient( circle 919px at 1.7% 6.1%,  rgba(41,58,76,1) 0%, rgba(40,171,226,1) 100.2% );
  	border-radius: 121px 60px 60px 125px;
	border:0px;
	font-weight: bold;
	cursor: pointer;
    margin-top: 18px;
    font-size :20px;
   }
   .clr-btn:hover {
   background-image: radial-gradient( circle 933.4px at 0.9% -2.6%,  rgba(1,220,215,1) 0%, rgba(171,196,251,1) 47.6%, rgba(224,188,253,1) 72.8%, rgba(255,182,194,1) 100.3% );
   }
/*Media queries*/

@media only screen and (max-width: 450px) {
	html {
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
  
 font-family: 'Lato', sans-serif;
}
 .container {
	overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
 border-radius: 0px;
 margin-top: 0px;
}
.contain {
  width: 470px;
}
input {
	margin-top: 105px;
}
 .anime {
   color:#f00;
   width: 100px;
   height: 50px;
   margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 50px;
  animation: pulseEffect 1s linear infinite;
  
 }
}
@media only screen and (max-width: 400px) {
	html {
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
  
 font-family: 'Lato', sans-serif;
}
 .container {
	overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
 border-radius: 0px;
 margin-top: 0px;
}
.contain {
  width: 440px;
}
input {
	margin-top: 105px;
}
 .anime {
   color:#f00;
   width: 100px;
   height: 50px;
   margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 50px;
  animation: pulseEffect 1s linear infinite;
  
 }

}

@media only screen and (max-width: 370px) {
	html {
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
  
 font-family: 'Lato', sans-serif;
}
 .container {
	overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
 border-radius: 0px;
 margin-top: 0px;
}
.contain {
  width: 400px;
}
input {
	margin-top: 105px;
}
 .anime {
   color:#f00;
   width: 100px;
   height: 50px;
   margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 50px;
  animation: pulseEffect 1s linear infinite;
  
 }
}